.home-background {
  background-color: black;
  height: 90vh;
}

.home-picture-container {
  position: relative;
}

.home-background img {
  height: 60vh;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.home-title-container {
  position: absolute;
  color: white;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.home-title {
  margin-bottom: 20px;
}

.home-title-container p {
  max-width: 330px;
  font-size: 44px;
  font-family: "Bangers", cursive;
  line-height: 56px;
}

.home-page img {
  width: 100%;
  height: 80vh;
  object-fit: contain;
  object-position: top;
}

.home-menu {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 10px;
  font-size: 20px;
}

.home-menu .nav-buttons button {
  font-size: 24px;
}

@media (max-width: 1200px) {
}
@media (max-width: 768px) {
  .home-title-container p {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
  .home-title-container {
    position: initial;
    display: flex;
    justify-content: center;
  }
  .home-menu {
    padding-bottom: 100px;
  }
}
