body {
  font-family: "Roboto", sans-serif;
}

.dark-grey-background {
  background-color: #202020;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}

.wrapped {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
